#afterlogin {
  display: flex;
}
.person-panel-box {
  // box-shadow: 4px 4px 12px -2px rgba(51, 51, 102, 0.5);
  width: 7.1em;
  // border: 1px solid white;
  // border-radius: 24%;
  margin-right: 2px;
  img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }
  p {
    color: white;
    font-weight: bold;
    margin-bottom: 0;
    padding: 0.5em;
  }
}