@import "./setting.scss";

$main-color: #F66E5F; 

// 調整fix-top navbar覆蓋body內容
body {
    padding-top: 56px;
    //background-image: url("../images/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%; 
}

.bg-main {
    background-color: $main-color;
}

.main-color {
    color: $main-color;
}


.tags{
  .list-group-item {
    border: 0;
  }
}

.question {
  .functions {
    min-width: 150px;
    a {
      height: 70px;
    }
    
  }
}

@import "./login.scss";
@import "./postQuestion.scss";
