@import "./setting.scss";

$main-color: #F66E5F; 

// 調整fix-top navbar覆蓋body內容
body {
    padding-top: 56px;
    background-image: url("../images/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%; 
}

.bg-main {
    background-color: $main-color;
}

.main-color {
    color: $main-color;
}

.btn-main{
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.btn-main:hover{
    color: gray;
    border: 1px solid gray;
}

@import "./login.scss";
@import "./postQuestion.scss";
